body{
    margin: 0 auto;
    padding: 0px;
	 width: auto;
    position: relative;
    height: 832px;
    left: 48px;
    top: 48px;

background: radial-gradient(85.66% 96.02% at 105.86% 109.25%, #CB1557 0%, #FFFFFF 0.01%, #CB1557 12.29%, #E71A3F 31.56%, #D44752 44.06%, #DD754E 58.22%, rgba(71, 53, 109, 0.66) 73.41%, rgba(24, 8, 17, 0.14) 85.36%, #000000 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #000000;
}

main{
    display: flex;

}
.box1{
    

}

.box2{
    background-color: black;
    width: 550px;
    height: 550px;
    border-radius: 10%;
    
}
.calendar{
    display: flex;
}
.ticketgroup{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px
}
.ticketbox{
     display: flex;
    width: 430px;
    height: 64px;
    padding: 16px;
    justify-content: center;
    align-items: flex-start;
    gap: 7px;
    background: #DD754E;

}
.ticketwords{

    display: flex;
    width: 279px;
    align-items: flex-start;
    flex-shrink: 0;

}
.ticketwords p {
    display: flex;
    height: 32px;
    flex-direction: column;
    justify-content: center;
    flex: 1 0 0;
    margin: 0%;
    padding: 0%;

}
.numberbox{
    display: flex;   
}
.uploadbox{
    margin: 0%;
}




.orderbox{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-content:space-between;
}
.orderenter{
    background-color: blueviolet;
}
.box2 p {
    color: aliceblue;
    text-align: center;
}
p{
    color: #FFFFFF;
}